body {
  padding: 50px;
  background-color:lightsteelblue;
  font-family: monospace;
  text-align: center;
  font-family: monospace;
}
#root {
  display: flex;
  justify-content: center;
}
h1 {
  letter-spacing: 2px;
  font-size: 2.1em;
}
h4 {
  letter-spacing: 2px;
  font-size: 1.1em;
  font-weight: normal;
}
.title {
  background-color: orange;
  padding: 30px;
}
.author {
  letter-spacing: 2px;
  position: fixed;
  bottom: 0;
}
.author i {
  color: black;
}
.author i:hover {
  color: pink;
}